html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
    color: #555;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
}

.background-piece {
    position: fixed;
    text-align: center;
    color: #ddd;
    display: table;
}

.background-piece::before {
    content: '$';
    display: table-cell;
    vertical-align: middle;
}

#root {
    position: absolute;
    width: 100%;
}

button:focus,
input:focus {
    outline: 0;
}

#logo-header {
    width: 100%;
    height: 40px;
    background-image: url('/svg/gloves.svg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
}

#new-game {
    position: absolute;
    right: 4px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: #65bcd4;
    font-size: 24px;
    cursor: pointer;
}

.loader {
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
    color: transparent;
    font-size: 0;

    background-image: url('/svg/loader.svg');
    background-size: 100% 100%;

    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.error {
    text-align: center;
    color: #c84949;
}

.content-pane {
    position: relative;
    width: 300px;
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.content-pane-header {
    position: relative;
}

.content-pane-header>h1 {
    display: block;
    margin: 0 auto 8px auto;
    font-size: 22px;
    padding: 0;
    text-align: center;
    max-width: calc(100% - 80px);
}

.content-pane-header>.back-button {
    position: absolute;
    top: calc(50% - 12px);
    left: 0;
    width: 24px;
    height: 24px;

    background-image: url('/svg/back.svg');
    background-size: 100% 100%;
    background-color: transparent;
    cursor: pointer;

    /* Undo defualt styling */
    border: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    color: transparent;
    content: ' ';
}

.choice-list-container {
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    overflow-y: scroll;
}

.choice-list {
    min-height: 100%;
    width: 100%;
    height: 127px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: url('/svg/list_bg.svg');
    background-repeat: repeat-y;
    background-size: 100% 64px;
    background-attachment: initial;
    background-position: center 0px top 1px;
}

.choice-list-item {
    position: relative;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    cursor: pointer;
}

.choice-list-item:last-child {
    /* Avoid overflow of one pixel at bottom for separators */
    height: 63px;
}

.choice-list-item-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 48px;
    height: 48px;
    pointer-events: none;
}

.choice-list-item-text {
    display: table;
    position: absolute;
    top: 8px;
    left: 64px;
    width: calc(100% - 72px);
    height: 48px;
    pointer-events: none;
}

.choice-list-item-text>p {
    display: table-cell;
    vertical-align: middle;
}

.choice-list-item:hover {
    background-color: #f0f0f0;
}

.player-count-input,
.product-price-guess {
    display: block;
    width: 100%;
    height: 40px;
    color: #555;
    border: 2px solid #d5d5d5;
    margin: 0 0 8px 0;
    padding: 5px;
    font-size: 22px;
    line-height: 30px;
    box-sizing: border-box;
    text-align: center;
}

.player-count-input:focus,
.product-price-guess:focus {
    border: 2px solid #65bcd4;
}

.player-count-input-invalid,
.product-price-guess-invalid {
    border: 2px solid #d46565;
}

.player-count-input-invalid:focus,
.product-price-guess-invalid:focus {
    border: 2px solid #d46565;
}

.ok-button {
    border: none;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 22px;
    background-color: #65bcd4;
    box-sizing: border-box;
    cursor: pointer;
}

.ok-button:hover {
    background-color: #55acc4
}

.ok-button-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.skip-button-container {
    text-align: center;
    margin-top: 10px;
}

.skip-button {
    font-size: 18px;
    border: none;
    background: transparent;
    color: #727272;
    cursor: pointer;
    text-decoration: underline;
}

.product-listing {
    display: table;
    position: relative;
    margin-bottom: 16px;
}

.product-listing-thumbnail-container {
    display: table-cell;
    vertical-align: middle;
}

.product-listing-thumbnail {
    max-width: 80px;
    max-height: 80px;
}

.product-listing-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 16px;
}

.product-price-answer {
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}

.product-price-answer::before {
    content: 'Answer: ';
    font-weight: normal;
}

.product-price-guesses-label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
}

.scoreboard-table,
.guesses-table {
    margin: auto;
    border-collapse: collapse;
    font-size: 22px;
    margin-bottom: 10px;
}

.scoreboard-table td,
.guesses-table td {
    padding: 8px;
}

.scoreboard-table tr:nth-child(odd),
.guesses-table tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.scoreboard-table td:first-child,
.guesses-table td:first-child {
    text-align: right;
}

.scoreboard-table td:last-child,
.guesses-table td:last-child {
    text-align: left;
}

.winner-status {
    width: 14px;
    height: 14px;
    position: relative;
    vertical-align: middle;
    border-radius: 7px;
    display: inline-block;
    margin-bottom: 3px;
}

.winner-status-loser {
    /* background-color: #e56b6b; */
    background-color: transparent;
}

.winner-status-winner {
    background-color: #2bcb2b;
}